{% extends "base-dashboard.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h4>Tvoja programátorská zóna</h4>
<div class="row g-4">
  <div class="col-md-4">
    <a href="{{ url_for('nove_cvicenie') }}" class="card-dashboard d-block">
      <h6><i class="fas fa-plus"></i>Nové cvičenie</h6>
      <p>Vytvor nové zadanie na precvičenie kódu.</p>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/moje-cvicenia" class="card-dashboard d-block">
      <h6><i class="fas fa-code"></i>Moje cvičenia</h6>
      <p>Prehľad všetkých tvojich cvičení.</p>
    </a>
  </div>
    <!-- NOVÁ KARTA: KVÍZ -->
  <div class="col-md-4">
    <a href="{{ url_for('kviz') }}" class="card-dashboard d-block">
      <h6><i class="fas fa-font-awesome"></i>Kvíz</h6>
      <p>Tvor, upravuj a spúšťaj kvízové otázky.</p>
    </a>
  </div>
</div>
{% endblock %}