<!-- Lietačky -->
<img src="{{ url_for('static', filename='icons/python.svg') }}" class="floating-icon pos-top" alt="Python">
<img src="{{ url_for('static', filename='icons/js.svg') }}" class="floating-icon pos-left" alt="JavaScript">
<img src="{{ url_for('static', filename='icons/html.svg') }}" class="floating-icon pos-right" alt="HTML">
<img src="{{ url_for('static', filename='icons/mysql.svg') }}" class="floating-icon pos-bottom" alt="SQL">
<img src="{{ url_for('static', filename='icons/bootstrap.png') }}" class="floating-icon pos-top-left" alt="Bootstrap">
<img src="{{ url_for('static', filename='icons/css.svg') }}" class="floating-icon pos-top-right" alt="CSS">
