{% extends 'base.html' %}

{% block title %}Projekty | Then This{% endblock %}

{% block content %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Na tejto stránke sa pracuje</h1>
        <p class="text-body-secondary fs-6">
          Táto sekcia bude čoskoro dostupná. Sleduj nás alebo sa zatiaľ pozri na cvičenia.
        </p>
        <p>
          <a href="/objavujte" class="btn btn-secondary my-2">Prejsť na cvičenia</a>
        </p>
      </div>
    </div>
  </section>
</main>
{% endblock %}
